@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
  background-color: #0B101B;
  
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 1.5s ease forwards;
}
